{% extends "base.html" %}
{% load static %}

{% block css %}
<!-- bug 查询列表页 -->
<!-- BEGIN GLOBAL MANDATORY STYLES -->
{#<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>#}
<link href={% static "assets/plugins/font-awesome/css/font-awesome.min.css"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href={% static "assets/plugins/bootstrap/css/bootstrap.min.css"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href={% static "assets/plugins/uniform/css/uniform.default.css"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href={% static "assets/css/style-metronic.css"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
<link href={% static "assets/css/style.css"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href={% static "assets/css/style-responsive.css"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href={% static "assets/css/plugins.css"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href={% static "assets/css/themes/default.css"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href={% static "assets/css/custom.css"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico" tppabs="http://www.keenthemes.com/preview/metronic_admin/favicon.ico"/>
<style type="text/css">
.wrap{
max-width: 150px; //设置需要固定的宽度
white-space: nowrap; //不换行
text-overflow: ellipsis; //超出部分用....代替
overflow: hidden; //超出隐藏
}
</style>
{% endblock %}
{% block detail %}
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<ul class="page-breadcrumb breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="index.html" tppabs="http://www.keenthemes.com/preview/metronic_admin/index.html">
								首页
							</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
								数据分析
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
								泡面番
						</li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
            <div class="row">
				<div class="col-md-6">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>泡面番前端,程序出现bug频率排行榜（90天）
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
								<thead>
								<tr >
									<th >
										 程序名称
									</th >
									<th >
										 bug数
									</th>
									<th >
										 提交次数
									</th>
									<th >
										 bug率
									</th>
								</tr>
								</thead>
								<tbody style="width: 10px">

                                {% for row in qiancommitcode_buglist %}

								<tr class="active" >
									<td >
										 <a href="/jenkins1_detail/{{ row.0 }}" target="_blank">{{ row.0 }}</a>
									</td >
									<td >
                                         {% if row.1 == 0 %}
                                            {{ row.1 }}
                                         {% else %}
                                         	<a href="/bug_detail/{{ row.4 }}-'新建'" target="_blank">{{ row.1 }}</a>
                                         {% endif %}
									</td>
									<td >
										{{ row.2 }}
									</td>
									<td >
										 {{ row.3 }}%
									</td>

								</tr>
                                {% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				<div class="col-md-6">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box red">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>泡面番后端,程序出现bug频率排行榜（90天）
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
								<thead>
									<tr >
									<th >
										 程序名称
									</th >
									<th >
										 bug数
									</th>
									<th >
										 提交次数
									</th>
									<th >
										 bug率
									</th>
								</tr>
								</thead>
								<tbody>
                             {% for row in houcommitcode_buglist %}

								<tr class="active" >
									<td >
										 <a href="/jenkins1_detail/{{ row.0 }}" target="_blank">{{ row.0 }}</a>
									</td >
									<td >
										 {% if row.1 == 0 %}
                                            {{ row.1 }}
                                         {% else %}
                                         	<a href="/bug_detail/{{ row.4 }}-'新建'" target="_blank">{{ row.1 }}</a>
                                         {% endif %}
									</td>
									<td >
										{{ row.2 }}
									</td>
									<td >
										 {{ row.3 }}%
									</td>

								</tr>
								</tr>
                                {% endfor %}

								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>泡面番前端提交代码解决Bug 词频排行榜（30天）
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
								<thead>
								<tr >
									<th >
										 排序
									</th >
									<th >
										 名字
									</th>
									<th >
										 词频数
									</th>
									<th >
										 Bugid
									</th>
                                    <th  >
										 提交代码次数
									</th>
								</tr>
								</thead>
								<tbody style="width: 10px">

                                {% for row in fencicommitcodeqian_30count_list %}

								<tr class="active" >
									<td >
										 {{ forloop.counter }}
									</td >
									<td >
										 {{ row.0 }}
									</td>
									<td >
										{{ row.1 }}
									</td>
									<td >
										 <a href="/bug_detail/{{ row.2 }}-'完成'" target="_blank">{{ row.2 }}</a>
									</td>
                                    <td  >
										 <a href="/jenkins_detail/{{ row.4 }}" target="_blank">{{ row.3 }}</a>
									</td>
								</tr>
                                {% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				<div class="col-md-6">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box red">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>泡面番后端提交代码解决Bug 词频排行榜（30天）
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
								<thead>
									<tr>
									<th>
										 排序
									</th>
									<th>
										 名字
									</th>
									<th>
										 词频数
									</th>
									<th>
										 bugid
									</th>
                                     <th>
										 提交代码次数
									</th>
								</tr>
								</thead>
								<tbody>
                             {% for row in fencicommitcodehou_30count_list %}

								<tr class="active" >
									<td >
										 {{ forloop.counter }}
									</td >
									<td >
										 {{ row.0 }}
									</td>
									<td >
										{{ row.1 }}
									</td>
									<td >
										 <a href="/bug_detail/{{ row.2 }}-'完成'" target="_blank">{{ row.2 }}</a>
									</td>
                                    <td  >
										 <a href="/jenkins_detail/{{ row.4 }}" target="_blank">{{ row.3 }}</a>
									</td>
								</tr>
								</tr>
                                {% endfor %}

								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>泡面番前端每日解决Bug 词频排行榜（30天）
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th>
										 排序
									</th>
									<th>
										 名字
									</th>
									<th>
										 词频数
									</th>
									<th>
										 bugid
									</th>
								</tr>
								</thead>
								<tbody>

                                {% for row in fenciqian_30count_list %}

								<tr class="active">
									<td>
										 {{ forloop.counter }}
									</td>
									<td>
										 {{ row.0 }}
									</td>
									<td>
										{{ row.1 }}
									</td>
									<td >
										 <a href="/bug_detail/{{ row.2 }}-'完成'" target="_blank">{{ row.2 }}</a>
									</td>
								</tr>
                                {% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				<div class="col-md-6">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box red">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>泡面番后端每日解决Bug 词频排行榜（30天）
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
								<thead>
									<tr>
									<th>
										 排序
									</th>
									<th>
										 名字
									</th>
									<th>
										 词频数
									</th>
									<td >
										 bugid
									</td>
								</tr>
								</thead>
								<tbody>
                             {% for row in fencihou_30count_list %}

								<tr class="active">
									<td>
										 {{ forloop.counter }}
									</td>
									<td>
										 {{ row.0 }}
									</td>
									<td>
										{{ row.1 }}
									</td>
									<td >
										 <a href="/bug_detail/{{ row.2 }}-'完成'" target="_blank">{{ row.2 }}</a>
									</td>
								</tr>
                                {% endfor %}

								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
			</div>
            <div class="row">
				<div class="col-md-6">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>泡面番IOS每日解决Bug 词频排行榜（30天）
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th>
										 排序
									</th>
									<th>
										 名字
									</th>
									<th>
										 词频数
									</th>
									<th>
										 bugid
									</th>
								</tr>
								</thead>
								<tbody>

                                {% for row in fenciios_30count_list %}

								<tr class="active">
									<td>
										 {{ forloop.counter }}
									</td>
									<td>
										 {{ row.0 }}
									</td>
									<td>
										{{ row.1 }}
									</td>
									<td >
										 <a href="/bug_detail/{{ row.2 }}-'完成'" target="_blank">{{ row.2 }}</a>
									</td>
								</tr>
                                {% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				<div class="col-md-6">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box red">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>泡面番Android每日解决Bug 词频排行榜（30天）
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
								<thead>
									<tr>
									<th>
										 排序
									</th>
									<th>
										 名字
									</th>
									<th>
										 词频数
									</th>
									<td >
										 bugid
									</td>
								</tr>
								</thead>
								<tbody>
                             {% for row in fenciandrodd_30count_list %}

								<tr class="active">
									<td>
										 {{ forloop.counter }}
									</td>
									<td>
										 {{ row.0 }}
									</td>
									<td>
										{{ row.1 }}
									</td>
									<td >
										 <a href="/bug_detail/{{ row.2 }}-'完成'" target="_blank">{{ row.2 }}</a>
									</td>
								</tr>
                                {% endfor %}

								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
			</div>
{% endblock %}
{% block js %}
<script src={% static "assets/plugins/jquery-1.10.2.min.js"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src={% static "assets/plugins/jquery-migrate-1.2.1.min.js"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
{#<script src={% static "assets/plugins/bootstrap/js/bootstrap.min.js"%}tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>#}
<script src={% static "assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src={% static "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src={% static "assets/plugins/jquery.blockui.min.js"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src={% static "assets/plugins/jquery.cokie.min.js"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src={% static "assets/plugins/uniform/jquery.uniform.min.js"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src={% static "assets/scripts/core/app.js"%} tppabs="http://www.keenthemes.com/preview/metronic_admin/assets/scripts/core/app.js"></script>
<script>
jQuery(document).ready(function() {
    // initiate layout and plugins
    App.init();
});
</script>
<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();
</script>
{% endblock %}